<h2>Equipped Items</h2>

<ul>
  {{#each equippedItems}}
    <li>
        <strong>{{this.name}}</strong>

      {{#if (eq this.type "weapon")}}
        <button class="roll-weapon" data-item-id="{{this.id}}">
          <i class="fas fa-dice"></i> ({{this.system.damage}})
        </button>
      {{/if}}

      {{#if (eq this.type "utility")}}
        <button class="roll-heal" data-item-id="{{this.id}}">
          <i class="fas fa-heart"></i> ({{this.system.heal}})
        </button>
      {{/if}}

    </li>
  {{/each}}
</ul>
